@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
	color: #333333;
}

.graph-container {
	text-align: center;
}

text {
	font-family: "lato";
}

.note {
	font-family: "Josefin Sans", sans-serif;
}

.note-spec {
	font-family: "Josefin Sans", sans-serif;
	margin-top: -52px;
}

#planet-name {
	font-weight: 1000;
	fill: #d80833;
	font-family: "Montserrat";
}

.title-text {
	font-family: "lato", sans-serif;
}

h1.main-title {
	padding-top: 30px;
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #333333;
}

.subtitle {
	color: grey;
	font-size: 15px;
	font-family: "Josefin Sans", sans-serif;
}

.text-body {
	padding-left: 30px;
}

.text-body > .side-text {
	color: #9e9e9e;
	font-family: "Josefin Sans", sans-serif;
	line-height: 16px;
	font-size: 14px;
	font-style: italic;
}

.text-body > .main-text {
	font-size: 20px;
}

.highlight {
	color: #de2f53;
}

.caption {
	font-size: 10px;
}

.image > img {
	border-radius: 5px;
	max-width: 500px !important;
}

.square {
	margin-left: -100px;
	width: 40%;
	height: 60px;
	background-color: #de2f53;
	position: absolute;
	z-index: 1;
	opacity: 0.1;
	border-radius: 5px;
}

.wrap-analysis {
	background-image: url("../img/bg.png");
}

.wrap-analysis > .analysis {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

#indicator {
	margin-top: 50px;
}

.perc,
.corr-text {
	font-weight: 1000;
	fill: #de2f53;
	font-family: "Montserrat";
}

.corr-betw {
	font-family: "Montserrat";
}

.search-form {
	width: 200% !important;
}

#system-info {
	width: 100%;
	height: 350px;
}

#system-name {
	text-align: center;
	color: #de2f53;
	font-family: "Josefin Sans", sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

#planets-list, #hz {
	color: #9e9e9e;
	font-family: "Josefin Sans", sans-serif;
	line-height: 16px;
	font-size: 14px;
	font-style: italic;
}